.theme-header {
  background-color: $hover-color;
  font-weight: 300;

  a {
    color: #ccc;

    &:hover,
    &.active,
    &.router-link-active {
      color: #fff;
    }
  }

  .site-title {
    text-align: center;
    font-size: 40px;
    padding-top: 100px;
    padding-bottom: 100px;
    a.router-link-active {
      color: #ccc;
    }
  }

  .nav {
    list-style-type: none;
    padding-left: 0;
    li {
      display: inline-block;
      padding-right: 2em;
      a {
        display: block;
        padding: 1em 0;
      }
    }
  }
}

.sidebar {
  padding-left: 40px;

  h2 {
    font-size: 16px;
    text-transform: uppercase;
  }

  ul {
    list-style-type: none;
    padding-left: 0;
  }
}