$background-color: white!default;

$screen-xs-max: 767px!default;
$screen-sm-min: 768px!default;
$screen-sm-max: 969px!default;
$screen-md-min: 970px!default;
$screen-md-max: 1169px!default;
$screen-lg-min: 1170px!default;

$container-max-width: 1170px!default;

$hover-color: #142634!default;
$link-color: #1e4667!default;
